.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;

	text-align: center;
	color: var(--lightGreen);

	height: 100%;
}

.title {
	font-size: 36px;
	margin-bottom: 0px;
}

.phonics {
	font-weight: 600;
	font-style: italic;
	margin-bottom: 37px;
}

.description {
	font-size: 16px;
}

.social-list {
	max-width: 80vw;
	width: 630px;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 37px;
	padding: 0px;
	list-style: none;
}

.social-media {
	a {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		color: var(--lightGreen);
		text-decoration: none;
		font-size: 14px;
		font-weight: bold;

		img {
			height: 40px;
			width: 40px;
			margin-right: 10px;
		}
	}

	&:hover {
		a {
			color: var(--purple);
		}
	}

	@media screen and (max-width: 768px) {
		margin-top: 15px;
		width: 35%;
	}
}
