@import "variables";

.App{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;

    background: linear-gradient(45deg, rgba($dark-gradient, 0.65), rgba($dark, 0.70)), url("background.gif"); 
    background-size: cover;
    background-position-x: 40%;
}

.chen{
    position: absolute;

    height: 100px;
    width: auto;

    bottom: 0;
    left: 35%;
}