@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');
@import "variable";

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: #dadada;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
                 monospace;
}

::selection {
  background: var(--blue); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--blue); /* Gecko Browsers */
}


/* Animations */
.ease-enter {
  opacity: 0;
}
.ease-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.ease-exit {
  opacity: 1;
}
.ease-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}