@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: #dadada;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
                 monospace;
}

::selection {
  background: hsl(4, 100%, 69%); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: hsl(4, 100%, 69%); /* Gecko Browsers */
}